<h1>Archive</h1>
<% @articles_year.each do |date, articles| %>
    <h2><%= date.strftime('%Y') %></h2>
      <% articles.each do |article| %>
        <div class="archive_article">
          <%= article.created_at.strftime('%b %d') + ' ' %>
          <%= link_to article.title, article_path(article) %>
        </div>
      <% end %>
<% end %>
<br />
<%= link_to 'Back', articles_path %>