%li.next
  - if current_page.last?
    %span.next.disabled Next &rarr;
  - else
    = link_to raw(t 'views.pagination.next'), url, :remote => remote
  -#= link_to_unless current_page.last?, raw(t 'views.pagination.next'), url, :remote => remote
