%li.previous
  -#= link_to_unless current_page.first?, raw(t 'views.pagination.previous'), url, :remote => remote
  - if current_page.first?
    %span.previous.disabled &larr; Prev
  - else
    = link_to raw(t 'views.pagination.previous'), url, :remote => remote
