body {
  font-size: 16px;
  a {
    text-decoration: none !important;
    color: steelblue;
    &:hover {
      color: #5cb85c;
    }
  }
  padding-top: 80px;
  height: 100%;
  background-color: #fff;
  #wrap {
    min-height: 100%;
    height: auto;
    /* Negative indent footer by its height */
    margin: 0 auto -120px;
    /* Pad bottom by footer height */
    padding: 0 0 120px;
  }
  /* Set the fixed height of the footer here */
  #footer {
    font-size: 13px;
    text-align: center;
    margin-top: 20px;
    padding-top: 15px;
    height: 120px;
    background-color: rgb(64, 64, 64);
    a {
      text-decoration: none;
      color: #aaa;
      font-weight: bold;
    }
    p.text-muted {
      margin-bottom: 5px;
    }
    .icons {
      margin-bottom: 5px;
      margin-top: 5px;
      i:hover {
        color: steelblue;
      }
    }
  }
  .container {
    max-width: 800px;
    margin: 0 auto;
  }
  a.archives {
    color: #586E75;
  }
  .btn-primary a {
    color: #fff;
    text-decoration: none;
  }
}