.til-title {
  margin-top: 12px;
  font-size: 36px;
  color: #333;
  .til-head {
    a {
      position: relative;
      bottom: -3px;
      text-decoration: none;
      color: lightslategrey;
      &:hover {
        color: steelblue;
      }
    }
  }
}
.til-sub {
  font-style: italic;
  font-size: 18px;
  color: #999;
  padding-left: 5px;
  margin-top: -1px;
  margin-bottom: 35px;
}
.micropost {
  border-radius: 0;
  border-left: solid 2px #586E75;
  .micropost-info {
    border: none;
    .date {
      font-family: Arial;
      font-size: 14px;
      font-style: italic;
      margin-right: 10px;
      color: #888888;
      position: relative;
      top: 1px;
    }
    a.btn {
      font-size: 13px;
      line-height: 16px;
      text-decoration: none;
      color: #dedede;
    }
  }
  .micropost-info.well {
    background-color: #ffffff;
    border: none;
    margin-bottom: 0;
    padding-top: 0px;
    padding-bottom: 3px;
    box-shadow: none;
  }
  .micropost-body {
    margin: 20px 0 20px 0;
    font-size: 18px;
  }
  .micropost-body.well {
    box-shadow: 0px 0px 1px -1px #bbb;
    border-top: none;
    background-color: #fff;
    border-radius: 2px;
    margin-top: 0px;
    margin-bottom: 60px;
    padding: 5px 20px 0;
    border: none;
    p {
      margin-bottom: 0;
    }
  }
}
