.mooc-quote {
  margin-top: 12px !important;
  margin-bottom: 20px !important;
  display: inline-block;
  vertical-align: top;
  .quote-icon {
    display: inline-block;
    vertical-align: top;
    padding-top: 8px;
    color: darkslateblue;
  }
  .quote {
    display: inline-block;
    margin-left: 6px;
    width: 700px;
    padding-right: -20px;
    font-size: 28px;
    color: darkslateblue;
    .quote-footer {
      display: inline-block;
      font-size: 17px;
      font-style: italic;
    }
  }
}
.mooc {
  font-size: 16px;
  a {
    text-decoration: none;
    color: steelblue;
    &:hover {
      color: #5cb85c;
    }
  }
  .btn-sm {
    position: relative;
    bottom: 2px;
    margin-left: 10px;
    padding: 2px 3px;
    a {
      line-height: 13px;
      font-size: 12px;
      color: #fff;
    }
  }
}